/* Index y body y la alineacion del menu banner */ 
body{
background-image:url("/img/fondo2.0.jpg");
background-size: 100%;
background-repeat: no-repeat;
}
.title{
    font-size: 50px;
    color: white;
   padding-top: 200px;
    text-align: center;
}

.lista ul{
   padding: 0px 0px 0px 400px;
   margin: 0px;
}
.lista ol{
    
   list-style-type: none;
   display: inline;
   padding-right: 5px;
   font-size: 30px;
   
}
.lista a{
    color: white;
    text-decoration: none;
    
}
.lista{
    padding: 40px 0px 40px 0px;
    background-color: brown;
    margin: -8px -8px;
}
/*titulos principales para la pagina   */ 
.container-title h1{
    color: white;
    font-size: 50px;
    text-align: center;
}
/* about styles */ 
.about{
    color: white;
    font-size: 20px;
    margin-left: 150px;
    margin-right: 150PX;
}
.about span{
    text-align: center;
}

/*Contact styles*/ 
.info-contact{
    color: white;
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.info-contact ul{
    font-size: 35px;
    line-height: 80px;
    
}
footer{
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
}
